<footer>
  <div class="footerSectionOne">
    <h2>Site Navigation</h2>
    <p><a href="/">Home</a></p>
    <p><a href="about-us">About Us</a></p>
    <p><a href="contact-us">Contact</a></p>
  </div>
  <div class="footerSectionTwo">
    <h2>Contact Us</h2>
    <p>Ariana & Julia</p>
    <a class="email" href="mailto:extragoocosmetics@gmail.com" target="_blank">e: extragoocosmetics@gmail.com</a>
  </div>
  <div class="footerSectionThree">
    <h2>Site Creator</h2>
    <p>Kyle Welsh</p>
    <p><a href="https://www.linkedin.com/in/kyle-welsh-b6690168/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/Kylewwelsh" target="_blank"><i class="fab fa-github-square"></i></a></p>
  </div>
  <div class="copyright">&copy;Extra Goo Cosmetics <script>document.write(new Date().getFullYear())</script></div>
</footer>
</body>
</html>