<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="about-us">About Us</a></li>
    <li><a href="contact-us">Contact</a></li>
    <ul class="social">
    <li><a href="https://www.instagram.com/extragoocosmetics/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="mailto:extragoocosmetics@gmail.com"><i class="fas fa-envelope-square"></i></a></li>
    </ul>
  </ul>
  <ul class="hamburgerNav">  
    <div class="hamIcon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="xIcon">
      <i class="fas fa-times"></i>
    </div>
    <ul class="hamOptions">
      <li><a href="/">Home</a></li>
      <li><a href="about-us">About Us</a></li>
      <li><a href="contact-us">Contact</a></li>
      <li><a href="https://www.instagram.com/extragoocosmetics/" target="_blank"><i class="fab fa-instagram"></i></a><a href="mailto:extragoocosmetics@gmail.com"><i class="fas fa-envelope-square"></i></a></li>
    </ul>
  </ul>
</nav>
