@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --mainClr: #f6e9e2;
  --secondClr: #bbcfc4;
  --thirdClr: #bbcfc4;
  --textClr: rgb(3, 2, 2);
  --navClr: #bbcfc4d5;

  /* Fonts */
  --titles: 'Clicker Script', sans-serif;
  --txt2: 'Raleway', sans-serif;
}

body {
  margin: 0;
  background-color: var(--mainClr);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


nav {
  position: sticky;
  /* top: 0;
  left: 0; */
  width: 100%;
  background-color: var(--navClr);
  padding: 1.25rem;
  text-align: center;
}

.nav, nav {
  margin: 0;
  padding: 0;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.nav > li {
  display: inline;
  font-family: var(--txt2);
  color: var(--textClr);
  font-size: 2rem;
  padding: 1.5rem;
  margin: auto;
}

.nav > li > a:hover {
  color: white;
}

.indexHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 100%;
  margin-top: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.indexTagLine {
  font-family: var(--txt2);
  font-size: 2rem;
  padding: 0 4.5rem 0 4.5rem;
  text-align: center;
}