<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<header class="indexHeader">
  <img class="logo" src="assets/images/logo.svg" alt="Extra Goo Logo">
  <p class="indexTagLine">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod a, placeat eius dolorum praesentium fugit beatae ad aspernatur fugiat quae sequi nam iste quas aliquid, maiores eveniet, esse impedit perferendis autem voluptas molestiae. Ad fugit expedita fugiat, necessitatibus quisquam, nemo, natus ullam accusantium temporibus dolore vitae omnis pariatur deleniti hic.</p>
</header>
<div class="divider"></div>
<section class="offer">
  <div class="offerTitle">What We Offer</div>
</section>
<%- include('../partials/footer') %>